pyrofork
tgcrypto
google-generativeai
aiohttp
telethon
cryptg
asyncio
pytz
telegraph
pycountry
beautifulsoup4
pillow
yt-dlp
python-dateutil
motor
gTTS
aiofiles
python-dotenv
googletrans==4.0.0-rc1
psutil
pydub
moviepy
speedtest-cli
lxml
smartfaker

